
##############################
## Java
##############################
*.class
*.log
*.jar
*.war
##############################
## Maven
##############################
**/target/
**/.mvn/wrapper/maven-wrapper.jar
**/.mvn/wrapper/maven-wrapper.properties
**/mvnw
**/mvnw.cmd

##############################
## Travis
##############################
**/.travis.yml

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace


##############################
## Docker
##############################

**/obj/Docker


##############################
## Git
##############################
**/.gitattributes
