USE [CatalogDB]
GO
/****** Object:  Table [dbo].[Catalog]    Script Date: 3/20/2022 7:28:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Catalog]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Catalog](
	[Id] [int] NOT NULL,
	[AvailableStock] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[MaxStockThreshold] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[OnReorder] [bit] NOT NULL,
	[PictureFileName] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[RestockThreshold] [int] NOT NULL,
	[CatalogBrandId] [int] NULL,
	[CatalogTypeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CatalogBrand]    Script Date: 3/20/2022 7:28:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CatalogBrand]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CatalogBrand](
	[Id] [int] NOT NULL,
	[Brand] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CatalogType]    Script Date: 3/20/2022 7:28:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CatalogType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CatalogType](
	[Id] [int] NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[IntegrationEventLog]    Script Date: 3/20/2022 7:28:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IntegrationEventLog]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[IntegrationEventLog](
	[EventId] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[EventTypeName] [nvarchar](max) NOT NULL,
	[State] [int] NOT NULL,
	[TimesSent] [int] NOT NULL,
	[TransactionId] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
INSERT [dbo].[Catalog] ([Id], [AvailableStock], [Description], [MaxStockThreshold], [Name], [OnReorder], [PictureFileName], [Price], [RestockThreshold], [CatalogBrandId], [CatalogTypeId]) VALUES (1, 100, N'.NET Bot Black Hoodie, and more', 0, N'.NET Bot Black Hoodie', 0, N'1.png', CAST(199.50 AS Decimal(18, 2)), 0, NULL, NULL)
INSERT [dbo].[Catalog] ([Id], [AvailableStock], [Description], [MaxStockThreshold], [Name], [OnReorder], [PictureFileName], [Price], [RestockThreshold], [CatalogBrandId], [CatalogTypeId]) VALUES (2, 89, N'.NET Black & White Mug', 0, N'.NET Black & White Mug', 1, N'2.png', CAST(8.50 AS Decimal(18, 2)), 0, 1, 1)
INSERT [dbo].[Catalog] ([Id], [AvailableStock], [Description], [MaxStockThreshold], [Name], [OnReorder], [PictureFileName], [Price], [RestockThreshold], [CatalogBrandId], [CatalogTypeId]) VALUES (3, 56, N'Prism White T-Shirt', 0, N'Prism White T-Shirt', 0, N'3.png', CAST(12.00 AS Decimal(18, 2)), 0, 2, 2)
GO
INSERT [dbo].[CatalogBrand] ([Id], [Brand]) VALUES (1, N'.NET')
INSERT [dbo].[CatalogBrand] ([Id], [Brand]) VALUES (2, N'Other')
GO
INSERT [dbo].[CatalogType] ([Id], [Type]) VALUES (1, N'Mug')
INSERT [dbo].[CatalogType] ([Id], [Type]) VALUES (2, N'T-Shirt')
INSERT [dbo].[CatalogType] ([Id], [Type]) VALUES (3, N'Pin')
GO
INSERT [dbo].[IntegrationEventLog] ([EventId], [Content], [CreationTime], [EventTypeName], [State], [TimesSent], [TransactionId]) VALUES (N'a4fe50e7-1bc9-8147-afe4-34f111d48d16', N'{"id":"e750fea4-c91b-4781-afe4-34f111d48d16","creationDate":1645883052988,"productId":1,"newPrice":19.50,"oldPrice":39.50}', CAST(N'2022-02-26T19:14:12.9880000' AS DateTime2), N'com.eshoponcontainers.catalogapi.integrationevents.ProductPriceChangedIntegrationEvent', 0, 0, N'437a7bc7-f06b-424b-9326-bbafa9c81a51')
INSERT [dbo].[IntegrationEventLog] ([EventId], [Content], [CreationTime], [EventTypeName], [State], [TimesSent], [TransactionId]) VALUES (N'23f02909-70a4-ec4a-a6b4-364007072ac3', N'{"id":"0929f023-a470-4aec-a6b4-364007072ac3","creationDate":1647677606472,"productId":1,"newPrice":137.50,"oldPrice":129.50}', CAST(N'2022-03-19T13:43:26.4720000' AS DateTime2), N'com.eshoponcontainers.catalogapi.integrationevents.ProductPriceChangedIntegrationEvent', 0, 0, N'1cc9ed88-5d2e-4ef9-9f18-1db5ed69cbaa')
INSERT [dbo].[IntegrationEventLog] ([EventId], [Content], [CreationTime], [EventTypeName], [State], [TimesSent], [TransactionId]) VALUES (N'03495298-7966-4a4c-acb6-5d5b8f3d38b2', N'{"id":"98524903-6679-4c4a-acb6-5d5b8f3d38b2","creationDate":1645883080075,"productId":1,"newPrice":23.50,"oldPrice":19.50}', CAST(N'2022-02-26T19:14:40.0750000' AS DateTime2), N'com.eshoponcontainers.catalogapi.integrationevents.ProductPriceChangedIntegrationEvent', 0, 0, N'56e13c77-4114-4674-bebe-16b79f97e184')
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK20xg7a5wq0gllbnknf5rg31oo]') AND parent_object_id = OBJECT_ID(N'[dbo].[Catalog]'))
ALTER TABLE [dbo].[Catalog]  WITH CHECK ADD  CONSTRAINT [FK20xg7a5wq0gllbnknf5rg31oo] FOREIGN KEY([CatalogBrandId])
REFERENCES [dbo].[CatalogBrand] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK20xg7a5wq0gllbnknf5rg31oo]') AND parent_object_id = OBJECT_ID(N'[dbo].[Catalog]'))
ALTER TABLE [dbo].[Catalog] CHECK CONSTRAINT [FK20xg7a5wq0gllbnknf5rg31oo]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK8d255nh6w9gcit9xpm4kblao]') AND parent_object_id = OBJECT_ID(N'[dbo].[Catalog]'))
ALTER TABLE [dbo].[Catalog]  WITH CHECK ADD  CONSTRAINT [FK8d255nh6w9gcit9xpm4kblao] FOREIGN KEY([CatalogTypeId])
REFERENCES [dbo].[CatalogType] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK8d255nh6w9gcit9xpm4kblao]') AND parent_object_id = OBJECT_ID(N'[dbo].[Catalog]'))
ALTER TABLE [dbo].[Catalog] CHECK CONSTRAINT [FK8d255nh6w9gcit9xpm4kblao]
GO
